<!DOCTYPE html>
<html>
<head>
  <title>TwilioConference</title>
  <%= stylesheet_link_tag    "twilio_conference/application", media: "all" %>
  <%= javascript_include_tag "twilio_conference/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
